html { 
background: url("../img/standard-arena.jpg") no-repeat center center fixed; 
background-size: cover;
}

body {
font-family: 'Alfa Slab One', cursive;
font-family: 'Hind', sans-serif;
background: url("../img/standard-arena.jpg") no-repeat center center fixed; 
background-size: cover;
}

/* * {
outline: 1px dashed white;
} */

/* NAVIGATION */
header {
height: 100px;
font-family: 'Anton', sans-serif;
}

div.button-group {
float: right;
margin-top: 40px;
font-size: 20pt;
margin-right: 20px;
}

nav a {
background: white;
opacity: 0.5;
color: black;
border: 3px black;
text-decoration: none;
padding: 5px;
margin-left: 5px;
font-weight: bolder;
border-radius: 3px;
}

/* MAIN */
h1 {
display: inline-block;
font-family: 'Alfa Slab One', cursive;
font-size: 75pt;
text-align: center;
text-shadow:
-1px -1px 0 rgb(255, 255, 255),  
1px -1px 0 rgb(255, 255, 255),
-1px 1px 0 rgb(255, 255, 255),
1px 1px 0 rgb(255, 255, 255);
margin-bottom: 10px;
margin: 30px 0px 0px 50px;
}

main img {
margin: 40px;
width: 0px auto;
align-content: center;
max-width: 220px;
border-radius: 20px;
outline: 2px black;
}

p {
font-size: 14pt;
margin: 20px;
width: 0px auto;
align-content: center;
}

h2 {
margin: 10px;
font-size: 20pt;
width: 0px auto;
text-align: center;
font-weight: bolder;
}

section {
display: inline-flex;
padding-top: 50px;
}


/* ANIMATION */
/* entire container, keeps perspective */
.flip-container {

margin: 40px 0px 0px 50px;
perspective: 1000px;
border-radius: 25px;
background: url(../img/ornate-card-back.jpg);
background-size: 300px 400px;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
transform: rotateY(180deg);
}

.flip-container, .front, .back {
width: 300px;
height: 400px;
}

/* flip speed goes here */
.flipper {
transition: 1700ms;
transform-style: preserve-3d;
position: relative;
}

/* hide back of pane during swap */
.front, .back {
backface-visibility: hidden;
position: absolute;
top: 0;
left: 0;
}

/* front pane, placed above back */
.front {
z-index: 2;
/* for firefox 31 */
transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
background: white;
transform: rotateY(180deg);
opacity: .9;
}