html { 
    background: url("../img/standard-arena.jpg") no-repeat center center fixed; 
    background-size: cover;
}

body {
    font-family: 'Anton', sans-serif;
  }
  
  header {
      height: 100px;
  }
  
  div.button-group {
      float: right;
      margin-top: 40px;
      font-size: 20pt;
      margin-right: 20px;
  }
  
  nav a {
    background: white;
      opacity: 0.5;
      color: black;
      border: 3px black;
      text-decoration: none;
      padding: 5px;
      margin-left: 5px;
      font-weight: bolder;
      border-radius: 3px;
  }

main img {
    width: auto;
    height: auto;
    max-width: 175px;
}

div.decks {
    margin-left: 95px;
    margin-bottom: 30px;
}

div.decks img:first-child {
    margin-right: 270px;
}

div.decks img:last-child {
    margin-left: 270px;
}

h1 {
    display: block;
    font-family: 'Alfa Slab One', cursive;
    font-size: 84pt;
    text-align: center;
    text-shadow:
    -1px -1px 0 rgb(255, 255, 255),  
     1px -1px 0 rgb(255, 255, 255),
     -1px 1px 0 rgb(255, 255, 255),
      1px 1px 0 rgb(255, 255, 255);
}

h2 {
    display: block;
    font-family: 'Alfa Slab One', cursive;
    font-size: 36pt;
    text-align: center;
    text-shadow:
    -1px -1px 0 rgb(255, 255, 255),  
     1px -1px 0 rgb(255, 255, 255),
     -1px 1px 0 rgb(255, 255, 255),
      1px 1px 0 rgb(255, 255, 255);
      margin-bottom: 20px;
}

h3 {
    display: inline-block;
    font-family: 'Alfa Slab One', cursive;
    font-size: 24pt;
    text-align: center;
    text-shadow:
    -1px -1px 0 rgb(255, 255, 255),  
     1px -1px 0 rgb(255, 255, 255),
     -1px 1px 0 rgb(255, 255, 255),
      1px 1px 0 rgb(255, 255, 255);
      margin-bottom: 5px;
}

#cpu {
   margin: 0px 955px 10px 110px;
}

hr {
    display: inline-block;
    width: 225px; 
    border: 0;
    height: 5px;
    background: #000;
    border: 5px white;
    margin-bottom: 15px;
}

#cpu-line {
    margin-left: 95px;
}

#user-line {
    float: right;
    margin-right: 75px;
}

div.card-count img {
    max-width: 50px;
}

#cpu-count-card {
    margin-left: 95px;
    float: left;
}

#user-count-card {
    float: right;
    margin-right: 75px;
}

#cpu-score-value {
    display: inline-block;
    margin-top: 23px;
    margin-left: 10px     
}

#user-score-value {
    float: right;
    display: inline-block;
    margin-top: 23px;
    margin-right: 10px; 
}